body{
    background-color: #8f8fb3;

}
h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.main{
    border: solid 2px transparent;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    padding: 20px;
    width: 600px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 43px;
}
.main ul{
    margin-top: 35px;
}
input{
    height: 30px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 500;
    width: 450px;
    margin-right: 10px;
    margin-left: 25px;
}
input::placeholder{
    font-family: 'Roboto', sans-serif;
}
.addTask{
    background-color: #007bff;
}
.delete{
    background-color: #dc3545;
    margin-right: 30px;
}
.save{
    background-color: #28a745;
}
.edit{
    background-color: black;
    margin-right: 30px;
}
.delete, .edit, .save, .addTask {
  color: white;
  width: 80px;
  height: 35px;
  padding: 6px;
  border-color: transparent;
  font-weight: 600;
  border-radius: 7px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.text{
    margin-left: 10px;
}
.task {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.taskDiv{
    padding: 0px;
    width: 540px;
    /* border: solid 2px black; */
    margin-right: 30px;
    margin-left: 40px;
}
ul {
    list-style-type: none;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
} 
li {
    margin-bottom: 6px;
}
    
/* 
    button {
      margin-top: 5px;
      padding: 5px;
    } */

   

   

    